USE [master]
GO
/****** Object:  Database [SOL_LUIS_ROJAS_DB]    Script Date: 19/08/2022 12:57:38 p. m. ******/
CREATE DATABASE [SOL_LUIS_ROJAS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SOL_LUIS_ROJAS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SOL_LUIS_ROJAS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SOL_LUIS_ROJAS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SOL_LUIS_ROJAS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SOL_LUIS_ROJAS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SOL_LUIS_ROJAS_DB]
GO
/****** Object:  User [admin]    Script Date: 19/08/2022 12:57:38 p. m. ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19/08/2022 12:57:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookLoans]    Script Date: 19/08/2022 12:57:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookLoans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoanDate] [datetime] NOT NULL,
	[LoanPurpose] [nvarchar](max) NULL,
	[ReturnDate] [datetime] NOT NULL,
	[BookId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BookLoans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 19/08/2022 12:57:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[IssueDate] [datetime] NOT NULL,
	[Publisher] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/08/2022 12:57:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookLoans] ON 

INSERT [dbo].[BookLoans] ([Id], [LoanDate], [LoanPurpose], [ReturnDate], [BookId], [UserId]) VALUES (1, CAST(N'2022-08-10T00:00:00.000' AS DateTime), N'Lectura dentro de la biblioteca', CAST(N'2022-08-11T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[BookLoans] ([Id], [LoanDate], [LoanPurpose], [ReturnDate], [BookId], [UserId]) VALUES (2, CAST(N'2022-08-18T00:00:00.000' AS DateTime), N'Retiro a casa', CAST(N'2022-08-20T00:00:00.000' AS DateTime), 2, 2)
INSERT [dbo].[BookLoans] ([Id], [LoanDate], [LoanPurpose], [ReturnDate], [BookId], [UserId]) VALUES (3, CAST(N'2022-08-20T00:00:00.000' AS DateTime), N'Retiro a casa', CAST(N'2022-08-26T00:00:00.000' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[BookLoans] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [ISBN], [Name], [Category], [Author], [Country], [IssueDate], [Publisher]) VALUES (1, N'111', N'Harry Potter y la Piedra Filosofal', N'Fantasía', N'JK Rowling', N'Reino Unido', CAST(N'1990-10-10T00:00:00.000' AS DateTime), N'Publicador 3000')
INSERT [dbo].[Books] ([Id], [ISBN], [Name], [Category], [Author], [Country], [IssueDate], [Publisher]) VALUES (2, N'222', N'El Señor de los Anillos', N'Fantasía', N'JRR Tolkien', N'Reino Unido', CAST(N'1995-01-08T00:00:00.000' AS DateTime), N'Publicador 4000')
INSERT [dbo].[Books] ([Id], [ISBN], [Name], [Category], [Author], [Country], [IssueDate], [Publisher]) VALUES (3, N'333', N'El Arte de la Guerra', N'Filosofía', N'Sun Tzu', N'China', CAST(N'1990-10-10T00:00:00.000' AS DateTime), N'Publicador 5000')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [DNI], [FirstName], [LastName], [Email], [PhoneNumber], [Status], [Role]) VALUES (1, N'12345678', N'Eduardo', N'Arias', N'alumno1@upc.edu.pe', N'999999999', 1, N'Alumno')
INSERT [dbo].[Users] ([Id], [DNI], [FirstName], [LastName], [Email], [PhoneNumber], [Status], [Role]) VALUES (2, N'12345668', N'Pablo', N'Zosimo', N'alumno2@upc.edu.pe', N'999999999', 1, N'Alumno')
INSERT [dbo].[Users] ([Id], [DNI], [FirstName], [LastName], [Email], [PhoneNumber], [Status], [Role]) VALUES (3, N'12345778', N'Docente', N'Docente', N'docente1@upc.edu.pe', N'999999999', 1, N'Docente')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_BookId]    Script Date: 19/08/2022 12:57:38 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BookId] ON [dbo].[BookLoans]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 19/08/2022 12:57:38 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[BookLoans]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookLoans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookLoans_dbo.Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BookLoans] CHECK CONSTRAINT [FK_dbo.BookLoans_dbo.Books_BookId]
GO
ALTER TABLE [dbo].[BookLoans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookLoans_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BookLoans] CHECK CONSTRAINT [FK_dbo.BookLoans_dbo.Users_UserId]
GO
USE [master]
GO
